*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --maincolor:#03A6A1;
    --lightcolor:#1bd1cb;
    --darkcolor:#00827e;
    --box-shadow:#00827e6b;
    --lightorange: #FFE3BB;
    --midorange: #FFA673;
    --darkorange:#FF4F0F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}


header{
    background-image:linear-gradient(90deg,#00c4bd 0%, #03A6A1 74%, #008c87 100%);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 25px 40px;
}

.books-stats{
    display: flex;
    justify-content: center;
    align-items:center;
    gap:4vw;
    margin-right: 5vw;
}

h2{
    justify-self: center;
}

main{
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 5vh;
}

.search-bar{
    border-radius: 8px;
    border: 2px solid;
    padding: 8px 20px;
    width: 18vw;
    margin-right: 1vw;
    border-color:#c1cccb;
    outline:none;
    caret-color: var(--darkcolor);
    color: var(--darkcolor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s;
}

.search-bar::placeholder{
    color: #c1cccb;
}

.search-bar:focus{
    border-color: var(--maincolor);
    box-shadow: 0px 3px 5px var(--box-shadow);

}

.select{
    border-radius: 8px;
    border: 2px solid;
    padding: 8px 10px;
    width: 8em;
    margin-right: 1vw;
    border-color:#c1cccb;
    outline:none;
    caret-color: var(--darkcolor);
    color: var(--darkcolor);
    cursor:pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s;
}

.select:focus{
    border-color: var(--maincolor);
    box-shadow: 0px 3px 5px var(--box-shadow);
}

.add-book{
    border:none;
    color:white;
    font-weight: bold;
    font-size: 50px;
    background-color: var(--lightcolor);
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 50px;
    position: fixed;
    width:70px;
    height: 70px;
    bottom:30px;
    right:30px;
    margin:none;
    padding:none;
    box-shadow: inset -7px -7px 10px var(--maincolor),
                inset 3px 3px 10px rgb(235, 254, 255);
    outline: none;
}

.add-book:hover{
    box-shadow: inset -7px -7px 10px var(--maincolor),
                inset 3px 3px 10px rgb(235, 254, 255),
                0 0 7px var(--maincolor);
}

.add-book:active{
    opacity: 0.6;
}
span{
    align-self: center;
    justify-self: center;
}
.inputs{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.card-grid{
    padding-top: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, 430px);
    gap: 20px;
    grid-template-rows: minmax(50px, auto);
}

.card-grid *{
    width: 430px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.modal{
    position: absolute;
    width: 30vw;
    height: 70vh;
    background-color: black;
    top:10vh;
    left: 35vw;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background-color: white;
    padding: 20px 5vh;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: solid 2px;
    border-color: var(--darkcolor);
}
.modal-title{
    font-weight: normal;
    justify-self: normal;
    
}

.close{
    position:absolute;
    right:15px;
    top:10px;
    padding: 5px;
    border:none;
    outline: none;
    background-color: transparent;
    font-size:large;
    cursor:pointer;
    color:var(--darkcolor);
}

form{
    margin-top: 20px;
}

.modal-screen{
    position: fixed;
    top:0;
    height:100vh;
    width:100vw;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter:blur(4px);
    /* visibility: hidden; */
}

.modal input{
    margin-top: 5px;
    border-radius: 8px;
    border: 2px solid;
    padding: 8px 5px;
    padding-left:8px;
    outline:none;
    caret-color: var(--darkcolor);
    color: var(--darkcolor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;
    border-color:#c1cccb;
    margin-bottom: 20px;
}

.modal p{
    font-weight: 500;
    font-size: 0.9rem;
}

.modal input::placeholder{
    color: #c1cccb;
}

.modal input:focus{
    border-color: var(--maincolor);
    box-shadow: 0px 3px 5px var(--box-shadow);

}


.modal select{
    border-radius: 8px;
    border: 2px solid;
    padding: 8px 5px;
    margin-top: 5px;
    border-color:#c1cccb;
    outline:none;
    caret-color: var(--darkcolor);
    color: var(--darkcolor);
    cursor:pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;
}

.modal select:focus{
    border-color: var(--maincolor);
    box-shadow: 0px 3px 5px var(--box-shadow);
}

.button-modal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    border-top: solid 2px;
    border-color: var(--darkcolor);
}

.button-modal *{
    margin-top: 25px;
    width:45%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border:none;
    cursor:pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.95rem;
    font-weight: 600;
    background-color: all 0.3s;
}

.reset{
    background-color: transparent;
}

.submit{
    background-color: var(--maincolor);
    color:white;
}

.reset:hover{
    background-color: rgb(243, 243, 243);
}
.reset:active{
    background-color: rgb(230, 230, 230);
}

.submit:hover{
    background-color: var(--darkcolor);
}
.submit:active{
    background-color: #005e5a;
}

.hidden{
    visibility: hidden;
}